body {
    margin: 0;
    font-family: san;
    background-image: url("Alia\ 15.png");
}

.bg-image {
    height: 100vh;
    width: 100%;
    background: url("Alia\ 9.png");
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    padding: 100px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    line-height: 1;
    animation: glow 0.50s ease-in-out infinite alternate-reverse;
}

p {
    color: transparent;
}

@media (max-width:500px) {
    .container {
        padding: 10px;
    }
}

.neonText {
    color: #f10;
    text-shadow: 
    0 0 7px #f10,
    0 0 10px #f10,
    0 0 21px #f10,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff,
}

@keyframes glow {
    100% {
        text-shadow:
        0 0 4px #f10,
        0 0 11px #f10,
        0 0 19px #f10,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff,
        0 0 100px #fff,
        0 0 150px #fff;
    }
    0% {
        text-shadow:
        0 0 4px #f10,
        0 0 10px #f10,
        0 0 18px #f10,
        0 0 38px #fff,
        0 0 73px #fff,
        0 0 80px #fff,
        0 0 94px #fff,
        0 0 140px #fff;
    }
}